[nz-form] {
    max-width: 600px;
    margin-left: 33%;
    margin-top: 2%;
  }

  .phone-select {
    width: 70px;
  }

  .register-area {
    margin-bottom: 8px;
    float: left;
    margin-left: 25%;
    width:100px;
    height: 50px;
  }